/* Colors */

$white: #fff;
$black: #000;

$body_bg: #e2dfdc;

$img_box_a: #ae895d;
$img_box_hover: rgba(158, 141, 11, 0.6);

$header_overlay: rgba(31, 31, 31, 0.65);

$projects_main: #565454;
$projects_a: #9e8d0b;

$color_yel: #dbd100;
$color_org: #ca8210;
$color_blc: #262626;
$color_gry: #9b9b9b;
