/* Image Box */

.img_box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 230px;
  max-width: 440px;
  width: 100%;
  color: $white;
  font-size: 16px;
  text-align: left;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
}

.img_box:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: $img_box_hover;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.img_box img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  border: 4px solid $white;
  border-radius: 3px;
}

.img_box figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_box a,
.img_box h3 {
  margin: 5px 0;
  opacity: 0;
  letter-spacing: 1px;
  font-size: 2rem;
}

.img_box h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}

.img_box a {
  font-weight: normal;
  background-color: $img_box_a;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  text-decoration: none;
  color: $white;
}

.img_box.hover:before,
.img_box:hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.img_box.hover a,
.img_box.hover h3,
.img_box:hover a,
.img_box:hover h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.img_box.hover h3,
.img_box:hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.img_box.hover a,
.img_box:hover a {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
